<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                    <resource id="Moreira_AdminLoginTimeRestriction::config" title="Admin Login Time Restriction"/>
            </resource>
        </resources>
    </acl>
</config>